body {
  background-color:#ADD8E6;
}

h1 {
  color:#FFD580;
  text-align: center;
  text-shadow: 2px 1px blue;
  font-size: 60px
}
p {
  width: 500px;
  padding: 20px;
  border: 2px solid gray;
  margin: 1;
  font-size: 20px;
  text-align: left;
  color: black;
  background-color: pink;
}
h2 {
  font-size: 30px;
  text-align: center;
}
h3 {
  font-size: 30px;
  text-align: left;
  text-shadow: 2px 1px #C8A2C8;
  color:#FFD580;
}

ul {
  font-size:25px;
  width: 500px;
  padding: 40px;
  border: 2px solid gray;
  margin: 1;
  background-color: pink;
  font-weight: bold;
  color: black;
}

